/* Início todo o site */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* Fim todo o site */

/* Início body */
body {
    font-family: 'Roboto', sans-serif;
}
/* Fim body */

/* Inínio html */
html {
    scroll-behavior: smooth;
}
/* Fim html */

/* Início header */
.header {
    background-color: rgb(248, 216, 73);
    display: flex;
    gap: 280px;
    align-items: center;
    padding: 6px 45px;
}

.header img {
    width: 70px;
    height: 70px;
}

.ul-list {
    display: flex;
    justify-content: space-between;
    gap: 280px;
    list-style: none;
    font-size: 20px;
}

.ul-list a {
    text-decoration: none;
}
/* Fim header */

/* Início Main */
main {
    background-image: url("main.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.about {
    color: white;
    max-width: 65%;
    text-align: center;
}

.about h1 {
    font-size: 60px;
    padding-top: 100px;
}

.about p {
    font-size: 35px;
    padding-top: 180px;
    padding-left: 180px;
    padding-right: 180px;
}
/* Fim Main */

/* Início services */
.services {
    background-color: rgb(248, 216, 73);
} 

.services-div h1 {
    font-size: 36px;
    padding: 40px 0px;
    text-align: center;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 18px;
    border-radius: 25px;
    box-shadow: 6px 6px 6px;
}

.services h3 {
    margin-top:20px;
    font-size: 30px;
}

.services p {
    padding-bottom: 30px;
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.services-div {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

.services-div article {
    background-color: rgb(255, 255, 255);
    margin-bottom: 70px;
    border-radius: 35px;
    box-shadow: 6px 6px 6px rgb(182, 182, 101);
}

.services-div img {
    width: 400px;
    height: 455px;
    margin: 20px;
    border-radius: 35px;
}
/* Fim services */

/* Início categories */
.categories {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.categories h2 {
    padding-top: 30px ;
    text-align: center;
}

.categories-div {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 90px;
    font-size: 20px;
    margin: 50px;
}

.categories-div img {
    width: 250px;
    height: 250px;
}
/* Fim categories */

/* Início maps */
.map {
    justify-items: center;
}

iframe {
    align-content: center;
}
/* Fim maps */

/* Início footer */
.footer {

}
/* Fim footer */