* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: rgb(248, 216, 73);
    display: flex;
    gap: 280px;
    align-items: center;
    padding: 6px 45px;
}

.header img {
    width: 70px;
    height: 70px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    gap: 280px;
    list-style: none;
    font-size: 20px;
}

main {
    background-image: url("main.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.about {
    color: white;
}

.about h1 {
    font-size: 40px;
}

.about p {

}